.booking-section {
    /* height: 60vh; */
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 10%;
    padding-right: 10%; */
}

#required-text {
    font-style: italic;
    font-weight: 100;
    color: #9c9c9c;
}

.form-container {
    justify-content: space-between;
}

form {
    display: grid;
    align-items: center;
    /* justify-content: center; */
    gap: 10%;
    padding-top: 1%;
}

.info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10%;
    padding-top: 1%;
    padding-bottom: 5%;
}


.personalInfo-div {
    display: grid;
    justify-content: space-between;
    gap: 25%;
    margin-bottom: 3%;
}

.time-div {
    display: grid;
    justify-content: space-evenly;
    gap: 25%;
    margin-bottom: 3%;
}

.guests-div {
    display: grid;
    justify-content: space-evenly;
    gap: 25%;
    margin-bottom: 3%;
}

NavLink {
    width: max-content;

}

.btn {
    width: max-content;
    position: relative;
    align-items: center;
    justify-content: center;
}


.conformation-section {
    height: 60vh;
    display: block;
    padding-top: 5%;
    align-content: space-evenly;
    align-items: center;
    justify-content: center;
    text-align: center;
}